@import "tailwindcss";
@source inline("{hover:,}bg-{gray,red,yellow,orange,green,blue,purple,pink}-{50,{100..900..100},950}");

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color: hsl(var(--sidebar-background));
  --color-foreground: hsl(var(--sidebar-foreground));
  --color-primary: hsl(var(--sidebar-primary));
  --color-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-accent: hsl(var(--sidebar-accent));
  --color-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-border: hsl(var(--sidebar-border));
  --color-ring: hsl(var(--sidebar-ring));

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --chart-1: 173 58% 39%;
    --chart-1-foreground: 173 58% 85%;
    --chart-2: 12 76% 61%;
    --chart-2-foreground: 12 76% 85%;
    --chart-3: 197 37% 24%;
    --chart-3-foreground: 197 37% 85%;
    --chart-4: 43 74% 66%;
    --chart-4-foreground: 43 74% 85%;
    --chart-5: 27 87% 67%;
    --chart-5-foreground: 27 87% 85%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-1-foreground: 220 70% 85%;
    --chart-5: 160 60% 45%;
    --chart-5-foreground: 160 60% 85%;
    --chart-3: 30 80% 55%;
    --chart-3-foreground: 30 80% 85%;
    --chart-4: 280 65% 60%;
    --chart-4-foreground: 280 65% 85%;
    --chart-2: 340 75% 55%;
    --chart-2-foreground: 340 75% 85%;
  }
}

/*
  ---break---
*/

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.65 0.24 26.97);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0.21 109.77);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.96 0 0);
  --muted-foreground: oklch(0.32 0 0);
  --accent: oklch(0.56 0.24 260.82);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0 0 0);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0 0 0);
  --input: oklch(0 0 0);
  --ring: oklch(0.65 0.24 26.97);
  --chart-1: oklch(0.65 0.24 26.97);
  --chart-2: oklch(0.97 0.21 109.77);
  --chart-3: oklch(0.56 0.24 260.82);
  --chart-4: oklch(0.73 0.25 142.5);
  --chart-5: oklch(0.59 0.27 328.36);
  --radius: 0px;
  --sidebar: oklch(0.96 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.65 0.24 26.97);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.56 0.24 260.82);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.65 0.24 26.97);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 4px;
  --shadow-offset-y: 4px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 1px 2px -1px hsl(0 0% 0% / 1);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 2px 4px -1px hsl(0 0% 0% / 1);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 4px 6px -1px hsl(0 0% 0% / 1);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 8px 10px -1px hsl(0 0% 0% / 1);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
}

/*
  ---break---
*/

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.32 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.32 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7 0.19 23.19);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.97 0.2 109.62);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.32 0 0);
  --muted-foreground: oklch(0.85 0 0);
  --accent: oklch(0.68 0.18 252.26);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(1 0 0);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(1 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.7 0.19 23.19);
  --chart-1: oklch(0.7 0.19 23.19);
  --chart-2: oklch(0.97 0.2 109.62);
  --chart-3: oklch(0.68 0.18 252.26);
  --chart-4: oklch(0.74 0.23 142.85);
  --chart-5: oklch(0.61 0.25 328.07);
  --radius: 0px;
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7 0.19 23.19);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.68 0.18 252.26);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(1 0 0);
  --sidebar-ring: oklch(0.7 0.19 23.19);
  --shadow-color: hsl(0 0% 0%);
  --font-sans: DM Sans, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 4px;
  --shadow-offset-y: 4px;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 1px 2px -1px hsl(0 0% 0% / 1);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 2px 4px -1px hsl(0 0% 0% / 1);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 4px 6px -1px hsl(0 0% 0% / 1);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1),
    4px 8px 10px -1px hsl(0 0% 0% / 1);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
}

/*
  ---break---
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --color-shadow-color: var(--shadow-color);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-blur: var(--shadow-blur);
  --shadow-spread: var(--shadow-spread);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
